# The requirements using the app.py (Streamlit app) are listed below. 

streamlit>=1.38.0
pandas>=2.2.2
numpy>=1.26.4
plotly>=5.22.0
statsmodels>=0.14.2
scipy>=1.13.1
scikit-learn>=1.5.0
reportlab>=4.2.2

# The requirements using the Jupyter Notebook (EDA) are listed below.

streamlit>=1.38.0
pandas>=2.2.2
numpy>=1.26.4
plotly>=5.22.0
statsmodels>=0.14.2
scipy>=1.13.1
scikit-learn>=1.5.0
ipython>=8.27.0